<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>CRUD Task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static "css/style2.css" %} ">
</head>
<body>
    <div class="form-box">
        <h2 style="text-decoration:underline;">Register</h2>
        <br>
        <form method="post" action="">
            {% csrf_token %}
           {{form.username.label}}:
           {{form.username}}
           <br>
           {{form.email.label}}:
           {{form.email}}
           <br>
           {{form.password1.label}}:
           {{form.password1}}
           <br>
           {{form.password2.label}}:
           {{form.password2}}
           <br>
     <button type="submit" class="btn btn-md bg-primary mx-auto d-block px-3 py-1">Submit</button>
     {{form.errors}}
        </form>
        <br>
        <p>Already have an account?<a href="{% url 'login_page'%}">  Login</a></p>
    </div>
    
</body>
</html>
